<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового клиента</title>
</head>
<body>

<h1>Добавить клиента</h1>

<form th:action="@{save}" th:object="${client}" method="post">

    <input type="hidden" th:field="*{id}"/>

    <fieldset>
        <legend>Имя</legend>
        <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" th:field="*{name}" required>
        </div>
    </fieldset>

    <div>
        <button type="submit">Сохранить</button>
        <a th:href="@{/clients}">Отмена</a>
    </div>
</form>

</body>
</html>
